*{
    
    
}

body{
    background-color: #141414;
    background: url('../Src/guardioesDaGalaxia.png') no-repeat;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

header{

 background-color: #141414;
 background: linear-gradient(180deg, rgb(12, 12, 12) 10%, rgba(0, 0, 0, 0) 100%);
 


}

nav{
    padding: 20px
}

#logo{
    height: 25px;
   
}
.navimg{
    height: 35px;
}

nav li{
    display: inline;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

nav ul{
    
  
    display: inline;
}

nav ul li a{
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: #fff;
   

}

#right{
    margin-left: 30%;
}

section{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 300px;
    padding-left: 20px;
    padding-right: 500px;
}

button.play{
    margin-top: 15px;
    border: none;
    font-weight: bold;
    padding: 7px 15px 5px 15px;
}

button.info{
    background-color: #606060;
    color:white;
    margin-top: 15px;
    border: none;
    font-weight: bold;
    padding: 7px 15px 5px 15px;
}

iframe{
    width: 2000px;
    height: 350px;
    position: absolute;
    background: none;
    margin: 0%;
    padding: 0%;
    
   
}


.foo{
    
    background: linear-gradient(
        0deg,   rgb(26, 26, 26) 90%,
        rgba(187, 2, 187, 0) 100%
      )
      no-repeat;
    display: flex;
    padding-top: 300px;
}

.footer-individual{
    display: inline-block;
    margin-left: 40px;
    color: #606060;
}

.footer-individual li{
    list-style-type: none;
    font-size: 8pt;
    padding: 8px;
}

.cop{
    
    color: #606060;
   background: #1A1A1A;
   font-size: 8pt;
    padding: 8px;
}

